.title-search-adv {
  border-bottom: solid 8px rgb(138, 139, 141);
  height: 2rem;
}

.title-search-dba {
  border-bottom: solid 8px rgb(212, 140, 221);
  height: 2rem;
}

.title-search-dev {
  border-bottom: solid 8px rgb(144, 164, 224);
  height: 2rem;
}

.title-search-dpo {
  border-bottom: solid 8px rgb(219, 121, 121);
  height: 2rem;
}

.title-search-pmo {
  border-bottom: solid 8px rgb(243, 177, 147);
  height: 2rem;
}

.post-title {
  padding-bottom: .5rem;
  height: 14;
  width: 100%;
  font-size: 20;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.post-date {
  height: 14;
  width: 100%;
  font-size: 10;
  font-family: Arial, Helvetica, sans-serif;
}

.post-time {
  padding-left: 1rem;
  height: 20px;
  width: 100%;
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif;
}

.post-type {
  height: 50px;
  width: 50px;
  font-size: 14;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-left: 10px;
  padding-top: 16px;
  border-radius: 50%;
}

.post-type-adv {
  background: rgb(138, 139, 141);
}

.post-type-dba {
  background: rgb(212, 140, 221);
}

.post-type-dev {
  background: rgb(144, 164, 224);
}

.post-type-dpo {
  background: rgb(219, 121, 121);
}

.post-type-pmo {
  background: rgb(243, 177, 147);
}

.post-description {
  height: 50px;
  width: 100%;
  min-width: 50%;
  font-size: 20;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

.div-datetime {
  padding-top: .5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: left;
}

.div-description {
  padding-top: .5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: left;
}