.lineWrapper {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: .5rem;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;  
}

.divSpace {
  width: 30px;
}

input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
}

button {
  margin-top: 20px;
  height: 100%; 
  width: 100%;
  font-size: 16px;
  color: #fbfbfb;
  border: none;
  background-color: #4F60aa;
}

button:hover {
  height: 100%;  
  color: #fff;
  border: none;
  background-color: #4F65E9;
  cursor: pointer;
}

input[type=reset] {
  height: 100%;  
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: #fbfbfb;
  border: none;
  background-color: #4F60aa;
}

input[type=reset]:hover {
    color: #fff;
    border: none;
    background-color: #4F65E9;
    cursor: pointer;
}