.tierMain {  
  height: 100vh;
  width: 60vw;
  max-width: 1100px;
  margin-top: -26px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: aliceblue;
}

.tierMain div {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tierMain div h3 {  
  display: flex;
  margin: 20px 0 10px;
  font-weight: 600;
}

.tierMain div p {  
  display: flex;
  margin: 4px 0px 10px;
  text-align: center;
}

.goBack {
  align-self:center;
  padding: 8px 14px 6px;
  margin-top: 4vh;
}
.goBack:hover {
  background: rgb(60, 94, 110);
  border-radius: 5px;
}

.goBack spam {
  margin-left: 1vw;
  letter-spacing: 0.1rem; 
}

/* ------------- */

@media only screen and (min-width: 641px) and (max-width:768px) {
}

@media only screen and (max-width:640px) {
  .tierMain {  
    height: 100vh;
    width: 90vw;
    max-width: 600px;
    margin-top: 0px;  
  } 
  .tierMain div h3 {  
    margin: 20px 0 10px;
  }
  .goBack {
    align-self: center;
  }
}
  
