.tierMain {
  height: 100%;

  max-width: 1100px;
  margin: 20px auto;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tierMain nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.tierMain nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #283E4A;
  font-weight: 400;
  padding: 10px;
}

.tierMain nav ul li:hover {
  background: rgb(60, 94, 110);
  border-radius: 5px;
}




/* ------------- */



@media (max-width: 900px) {  
  .tierMain nav ul li {
    min-width: 0px;
    margin: 2px;
    padding: 0;
  }
}

@media (max-width: 1100px) {  
  .tierMain nav ul li {
    min-width: 40px;
    margin: 2px;
    padding: 2px;
  }
}
  