.tierHeader {  
  height: 7vh;
  width: 75vw;
  max-width: 1100px;
  padding: 1vh 0 1.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.tierMain {  
  height: 100%;
  width: 75vw;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tierMain h3 {  
  display: flex;
  line-height: 30px;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: -.0rem; 
  color: #283E4A;
  opacity: .9;
  margin-top: 20px;  
}

.tierMain p {  
  display: flex;
  text-align: center;  
  line-height: 26px;
  font-weight: 100;
  font-size: 1.4rem;
  letter-spacing: -.0rem; 
  color: #283E4A;
  opacity: .8;
  margin-top: 10px;
}

.tierArticles {  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.divImg {
  flex: 1 300px;
  width: 40vw;
  max-width: 1100px;
}


/*Tablet Query*/
@media only screen and (min-width: 641px) and (max-width:768px) {
  .tierMain {  
    width: 84vw;
    max-width: 631px;  
  }
  .tierMain h3 {  
    letter-spacing: 0rem; 
    font-size: 1.4rem;
  }
  .tierMain p {  
    letter-spacing: 0.05rem; 
    font-size: 1.2rem;
  }
  .divImg {
    width: 60vw;
    max-width: 1100px;
  }
}

/*Mobile Query*/
@media only screen and (max-width:640px) {
  .tierMain {  
    width: 90vw;
    max-width: 631px;  
  }
  .tierMain h3 { 
    letter-spacing: 0rem; 
    font-size: 1.3rem;
    opacity: 1;
  }
  .tierMain p { 
    letter-spacing: 0.05rem; 
    font-size: 1.1rem;
    opacity: .9;
  }
  .divImg {
    display: block;
    width: 100vw;
  }
}
