.tierMain {  
  height: 100vh;
  width: 75vw;
  margin-top: 5vh;
  max-width: 1100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;

  color:darkslategrey;
}

.tierMain div h3 {  
  display: flex;
  margin: 20px 0 10px;
  font-weight: 500;
}

.tierMain div p {  
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  text-align:justify;
}



/*Tablet Query*/
@media only screen and (min-width: 641px) and (max-width:768px) {
  .tierMain {  
    width: 96vw;
    margin-top: 2vh;
    max-width: 631px;  
  }
}

/*Mobile Query*/
@media only screen and (max-width:640px) {
  .tierMain {  
    width: 96vw;
    margin-top: 1vh;
    max-width: 631px;  
  }
}






.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

