.tierMain {  
  height: 100vh;
  width: 75vw;
  max-width: 1100px;
  margin-top: -26px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;

  color:darkslategrey;
}

.tierMain div {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tierMain div h3 {  
  display: flex;
  margin: 20px 0 10px;
  font-weight: 500;
}

.tierMain div p {  
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  text-align:justify;
}

/* ------------- */

@media (max-width: 900px) { 
  .tierMain div h3 {  
    display: flex;
    margin: 8px 0 5px;
    font-weight: 500;
    width: 98vw;
  } 
  .goBack {
    align-self: flex-start;
    margin-left: 50px;
    padding: 5px 8px;
  }
}

@media (max-width: 1100px) {  
  .tierMain div h3 {  
    display: flex;
    margin: 8px 0 5px;
    font-weight: 500;
    width: 95vw;
  }
  .goBack {
    align-self: flex-start;
    margin-left: 10px;
    padding: 5px 8px;
  }
}
  





.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

