.tierMain {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.tierMain nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.tierMain nav ul li {
  width: 180;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #283E4A;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 36px;
  padding: 10px;
}

.tierMain nav ul li:hover {
  background: rgba(40, 62, 74, 0.2);
  border-radius: 22px;
}

/* ------------- */

@media (max-width: 900px) { 
  .tierMain nav ul li {
    margin: 0 6px;
  }
}

@media (max-width: 1100px) { 
  .tierMain nav ul li {
    margin: 0 6px;
  } 
}
  