.title-search-adv {
  border-bottom: solid 8px rgb(138, 139, 141);
  height: 2rem;
}

.title-search-dba {
  border-bottom: solid 8px rgb(212, 140, 221);
  height: 2rem;
}

.title-search-dev {
  border-bottom: solid 8px rgb(144, 164, 224);
  height: 2rem;
}

.title-search-dpo {
  border-bottom: solid 8px rgb(219, 121, 121);
  height: 2rem;
}

.title-search-pmo {
  border-bottom: solid 8px rgb(243, 177, 147);
  height: 2rem;
}

input {
  border: none;
  height: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 1px rgb(170, 185, 245);
}
