.title-search-adv {
  border-bottom: solid 8px rgb(89, 95, 107);
  height: 2rem;
}

.title-search-dba {
  border-bottom: solid 8px rgb(201, 90, 216);
  height: 2rem;
}

.title-search-dev {
  border-bottom: solid 8px rgb(91, 126, 230);
  height: 2rem;
}

.title-search-dpo {
  border-bottom: solid 8px rgb(214, 46, 46);
  height: 2rem;
}

.title-search-pmo {
  border-bottom: solid 8px rgb(247, 118, 58);
  height: 2rem;
}

input {
  border: none;
  height: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 1px rgb(170, 185, 245);
}
